// Place all the styles related to the api/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.browse-container {
  // position: relative;
}

.logged-header {
  position: fixed;
  width: 94%;
  margin: 0 auto;
  z-index: 2;
}

.main-thumb img {
  position: relative;
  z-index: -1;
}

.main-thumb {
  // display: inline-block;
  position: relative;
  background: linear-gradient(to top, #000, transparent);
}

.main-video-info {
  padding-left: 55px;
  position: absolute;
  top: 60%;
  width: 35%;
}

.main-video-links {
  display: flex;
  justify-content: center;
}

.main-video-link {
  margin: 10px;   
}