 body { 
  // background: black;
  background: #141414;
  color: white;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  min-width: 400px;
}

.noshow {
  display: none;
};

.shown {
  display: block;
}