.search-results-container {
  padding: 0 55px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
  justify-content: center;
}

.filtered-movie-container {
  // min-width: 200px;
  // min-height: 110px;
  max-width: 250px;
  max-height: 140px;
  margin: 25px 5px;
}

.filtered-item {
  // width: 200px;
  // width: auto;
  height: 100%;
  position: relative;
  // cursor: pointer;
}

.filtered-item:hover > * {
  visibility: visible;
  opacity: 1;
  // height: 400px;
}

.filtered-item img {
  // object-fit: cover;
  height: 100%;
  // width: auto;
}

.search-play {
  // position: absolute;
  // top: 28%;
  // left: 38%;
  font-size: 70px;
}

.search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.filter-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bolder;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}