.attached-info {
  height: 400px;
  // border: 1px solid red;
  width: 100%;
  // display:block;
    // position: relative;
    // top: 150px;
  // bottom: 0;
  // box-sizing: border-box;
  // z-index: 100;
  // border: 1px solid red;
  position: relative;
  top: -25px;
  // margin-bottom: 50px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: flex-start;
  // transition: all 0.3s linear;
}

.attached-info * {
  // transition: all 0.3s ease;
}

.drop-info-pic {

  width: 60%;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to right, #141414, transparent);
}

.attached-info img{
  // height:100%;

  width: 100%;
  height: auto;
  // object-fit: contain;
  // visibility: visible;
  // opacity: 1;
  z-index: -1;
}

.info-close{
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
  z-index: 99;
}

.buffed {
  padding-top: 35px;
}

.scroll-buffed {
  top: 50px;
}

.movie-info-container {
  position: relative;
  transition: visibility 0.5s ease, opacity 0.5s ease, height 0.3s linear;
  // transition: height 0.5s linear;
  width: 100%;
  overflow: visible;
}

.movie-info-container img{
  // object-fit: cover;
  // width: 100%;
  // height: auto;
}

.info-gradient {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 47%;
  top: -25px;
  // background: red;
  background: linear-gradient(to right, #000, transparent);
}

// object-fit: cover;

.popup-controls {
  width: 30%;
  height: 100%;
}

.on-popup {
  top: 20%;
  padding-left: 0;
}

.space-below {
  margin-bottom: 20px;
}

.info-red, .info-red:hover {
  background: red;
  border-color: transparent transparent transparent white;
  color: white;
  transition: padding 0.1s linear;
}

.info-red:hover{
  padding: 11px 31px;
}

.info-black, .info-black:hover {
  background: black;
  border: 0.5px solid white;
  // border-color: transparent transparent transparent white;
  color: white;
  transition: padding 0.1s linear;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.info-black {
  padding: 9px 30px;
}

.info-black:hover{
  padding: 10px 31px;
  background: #141414;
}

.info-black, .info-red {
  border-radius: 1px;
}

@media screen and (max-width: 755px) {
  .space-below {
    // display: none !important;
    visibility: visible;
    opacity: 1;
  }
  .attached-info img {
    // display: none !important;
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 960px) {
  .on-popup {
    top: 10% !important;
  }

  .main-video-title {
    font-size: 20px !important;
  }

}


.info-drop-container {
  width: 100%;
  height: auto;
  flex: 1;
  transition:flex 0.3s ease-out;
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0.5s, opacity 0.5s,height 0.5s linear;
}

.info-drop-shown {
  height: 400px;
  visibility: visible;
  opacity: 1;
}

.list-btn {
  box-sizing: border-box;
}