
.spinner-container {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 90%;
  display:flex;
  flex-direction: column;
  transition:flex 0.3s ease-out;
  justify-content: flex-start;
  // align-items: flex-start;
}
.category-header {
  position:absolute;
  top: 0;
  left: 55px;;
  margin-top: 18px;
  font-weight: 700;
  font-size: 20px;
  z-index: 0;
}

.spinner {
  position: relative;
  min-height: 270px;
  // min-height: 150px;
  width: 100vw;
  display: flex;
  // flex-wrap: nowrap;
  overflow: hidden;
  // overflow: scroll;
  flex-direction: column;
  // align-items: center;
  align-items: flex-start;
  justify-content: center;
  // margin-left: 55px;
  padding-left: 54px;
  // padding-bottom: 100px;
  // padding-top:50px;
  // z-index: ;
  // border: 1px solid red;
  box-sizing: border-box;
  // transition: all 1s linear;
}

.spinner h1{
  color: white;
}


// .test {
//   display: flex;
//   flex-direction: column;
// }

.tn-scale {
  // position: static;
  // max-height: 250px;
  min-height: 150px;
  // height: 150px;
  display: flex;
  align-items: center;
  position: relative;
  // overflow: scroll;
  // top: 25px;
  left: 0;
  // margin-left: 54px;
  // perfect adjustment: 276px;
  transition: left 1s ease-in-out;
}

.tn-wrapper {
  height: 200px;
  display: flex;
  align-items: center;
  // justify-content: center;
  // overflow: hidden;
  position: relative;
  transition: left 2s ease-in-out;
}

.shifted-left {
  left: -276px;
}

.spinner-item{
  // display: inline-block;
  position: relative;
  height: 150px;
  // max-width: 270px;
  margin: 0 3px;
  z-index: 20;
  cursor: pointer;
  // margin-bottom: 20px;
  transition: height 0.3s, border 0.5s ease;
  box-sizing: border-box;
  border: 0;
}

.spinner-item img {
  height: 100%;
  // width: 90%;
  object-fit: fill;
}

.enlarge:hover {
  height: 250px;
}

.enlarge:hover>* {
  visibility: visible;
  opacity: 1;
}

// .spinner-item:hover {
//   height: 250px;
// }

.movie-tn {
  height: 100%;
  width: auto;
  // z-index: -1;
}

.spinner:hover > .scroll {
  // display: flex;
  visibility: visible;
  opacity: 1;
}

.scroll {
  position: absolute;
  top: 60px;
  height: 150px;
  width: 57px;
  background: rgba(0,0,0,0.2);
  // background: linear-gradient(to left, #000, transparent);
  // right: 0;
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  cursor: pointer;
}

.right.scroll {
  right: 0
};

.left.scroll {
 left: 0;
};

.scroll:hover {
  background: rgba(0, 0, 0, 0.5);
  font-size: 60px;
}

.scroll-btn {
  color: white;
  font-size: inherit;
}

.info-down {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 60px;
  bottom: -10px;
  visibility: hidden;
  opacity: 0;
  // z-index: 100;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.down-arrow-container {
  display: flex;
  justify-content: center;
}

.fa.fa-angle-down:hover {
  color: red;
}

.play-area {
  // height: 85%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}

.round-button {
  z-index: 1000;
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  padding-left: 4px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: red;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  transition: all 0.3s ease;
}

.round-button:hover {
  width: 42px;
  height: 42px;
}

.tn-title {
  font-weight: 700;
  margin-top: 10px;
  font-size: 20px;
  white-space: nowrap;
}

.tn-info {
  position: absolute;
  top: 55%;
  left: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.tn-plus-wrapper {
  width: 30px;
  height: 30px;
  padding: 4px 0 10px 0;
  border: 0.5px solid rgb(155, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border-color 0.3s linear;
}

.tn-plus-wrapper:hover {
  // background: rgba(255, 255, 255, 0.8);
  border: 1.5px solid white;
  // width: 32px;
  // height: 32px;
  // color: black;
  color: white;
}

.list-adder {
  position: absolute;
  right: 20px;
  bottom: 20%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s,
  opacity 0.3s linear;
}

.expand-down{
  position: absolute;
  width: 100%;
  bottom: -20px;
  height: 20px;
  font-size: 30px;
  color: white;
  display: none;
  // background: red;
  // border: 2px solid red;
}

.expand-arrow-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

// .fa-caret-down.info {
//   background: white;
//   color: white;
// }